.page {
  display: grid;
  min-height: 100vh;
  grid-template: auto / 246px auto;

  @media screen and (max-width: 700px) {
    padding-left: 80px;
    grid-template: auto / auto;
  }
}

.content {
  padding: 26px 20px;
  max-height: 100vh;
  overflow: auto;
  scrollbar-color: var(--gray) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
  }
}
