.input-label .input {
  margin: 0 0 10px 0;
  padding: 0 0 14px 0;
  background-color: transparent;
  border-bottom: 2px solid rgba(var(--gray-rgb), 0.1);
  border-radius: 0;
  font-weight: bold;
  font-size: 1.125rem;

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid var(--second);
    box-shadow: none;
  }
}

.input-label.error .input,
.input-label.error .input:hover,
.input-label.error .input:focus {
  border-bottom: 2px solid var(--red);
}
