@import "./assets/reset.scss";

:root {
  --white: #fff;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --red: #eb5757;
  --dark-gray: #888;
  --medium-gray: #d5d5d5;
  --light-gray: #f9fafc;
  --accent: #2d376a;
  --green: #4ba33e;
  --main: #ffbe17;
  --second: #2053b6;
  --second-rgb: 32, 83, 182;
  --black-light: #292a31;
  --blue-light: #7b8ea2;
  --blue: #2053b6;
  --blue-dark: #00274e;
  --gray-light: #f5f5f5;
  --gray: #949ba5;
  --gray-rgb: 148, 155, 165;
  --gray-medium: #a4a4a9;

  --font-exo: "Exo 2", sans-serif;

  --transition-timing-function: linear;
  --transition-duration: 0.3s;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--gray-light);
  font-family: var(--font-exo);
  font-size: 16px;
  line-height: 1.4;
}

a {
  color: var(--main);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}
